<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trang chủ - Quản lý nhà hàng</title>

        <script type="text/javascript" src="assests/js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="assests/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="assests/js/script.trang-chu.js"></script>
        <link rel="stylesheet" type="text/css" href="assests/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="assests/css/style.trang-chu.css">
        <link rel="stylesheet" type="text/css" href="assests/css/global.css">
    </head>
    <body>
        <div class="contact-bar row">
            <div class="col-3 contact-bar-greeting">
                <i>Hân hạnh được phục vụ quý khách</i>
            </div>
            <div class="col-9 contact-bar-functions">
                <a href="#!"><i class="glyphicon glyphicon-shopping-cart"></i>Tài khoản
                </a>
                <a href="#!">Thanh toán</a>
                <a href="#!">Giỏ hàng</a>
            </div>
        </div>

        <div class="slide-show">
            <nav class="navbar navbar-expand-lg row" id="navbar-absolute">
                <a class="navbar-brand font-blonde-script text-white font-size-h3" href="#">
                    <img src="assests/images/2Restoran.png" width="50" height="50" class="d-inline-block align-top"
                         alt="logo">
                    Restaurant
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link font-blonde-script text-white font-size-h5" href="#">Trang chủ
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-blonde-script text-white font-size-h5" href="#">Thực đơn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-blonde-script text-white font-size-h5" href="#">Bài viết</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-blonde-script text-white font-size-h5" href="#">Nhà hàng</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link font-blonde-script text-white font-size-h5" href="#">Đặt bàn</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input id="txt-tim-kiem" class="form-control mr-sm-2" type="search"
                               placeholder="Tìm mọi thứ trên trang web" aria-label="Search">
                        <input id="btn-tim-kiem" class="btn my-2 my-sm-0" type="submit" value="Tìm kiếm"/>
                    </form>
                </div>
            </nav>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="assests/images/beverages-brunch-cocktail-5317.jpg"
                             alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="assests/images/blur-breakfast-close-up-376464.jpg"
                             alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="assests/images/burrito-chicken-close-up-461198.jpg"
                             alt="Third slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="assests/images/close-up-cooking-cuisine-958545.jpg"
                             alt="Third slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="assests/images/dinner-food-meal-8313.jpg" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <div class="main-menus">
            <div id="title">
                <img src="assests/images/2Restoran.png" height="50" width="50"/>
                <h1 class="font-blonde-script">Thực đơn chính của nhà hàng</h1>
                <i class="secondary-text-color">Thực đơn buffet phong phú với hơn 50 món do chính đầu bếp có kinh nghiệm
                    lựa chọn
                </i>
                <div id="list-menu">
                    <a class="food-menu background-blue text-white" href="#!">Shushi</a>
                    <a class="food-menu background-yellow text-brown" href="#!">Salad</a>
                    <a class="food-menu background-red text-white" href="#!">Thức uống</a>
                    <a class="food-menu background-orange text-white" href="#!">Bánh Pizza</a>
                    <a class="food-menu background-green text-white" href="#!">Buffet</a>
                    <a class="food-menu background-purple text-white" href="#!">Rượu</a>
                </div>
            </div>
            <div class="menu-foods container">
                <div class="row">
                    <div class="food-item col-md-3 col-sm-6 col-12">
                        <a href="#!">
                            <div class="food-img">
                                <img src="assests/images/banh-trang-cuon-thit-heo.jpg"/>
                            </div>
                            <div class="row">
                                <p class="col-6 food-name">Tên món ăn</p>
                                <p class="col-6 price">200 000đ</p>
                            </div>
                            <p class="price old-price">250 000đ</p>
                        </a>
                    </div>
                    <div class="food-item col-md-3 col-sm-6 col-12">
                        <a href="#!">
                            <div class="food-img">
                                <img src="assests/images/banh-trang-cuon-thit-heo.jpg"/>
                            </div>
                            <div class="row">
                                <p class="col-6 food-name">Tên món ăn</p>
                                <p class="col-6 price">200 000đ</p>
                            </div>
                            <p class="price old-price">250 000đ</p>
                        </a>
                    </div>
                    <div class="food-item col-md-3 col-sm-6 col-12">
                        <a href="#!">
                            <div class="food-img">
                                <img src="assests/images/banh-trang-cuon-thit-heo.jpg"/>
                            </div>
                            <div class="row">
                                <p class="col-6 food-name">Tên món ăn</p>
                                <p class="col-6 price">200 000đ</p>
                            </div>
                            <p class="price old-price">250 000đ</p>
                        </a>
                    </div>
                    <div class="food-item col-md-3 col-sm-6 col-12">
                        <a href="#!">
                            <div class="food-img">
                                <img src="assests/images/banh-trang-cuon-thit-heo.jpg"/>
                            </div>
                            <div class="row">
                                <p class="col-6 food-name">Tên món ăn</p>
                                <p class="col-6 price">200 000đ</p>
                            </div>
                            <p class="price old-price">250 000đ</p>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="food-ads food-ads-left col-3">
                        <div class="food-ads-sub-item">
                            <img src="assests/images/banh-xeo.jpg" alt="food">
                        </div>
                        <div class="food-ads-sub-item">
                            <img src="assests/images/banh-xeo.jpg" alt="food">
                        </div>
                    </div>
                    <div class="food-ads food-ads-center col-6">
                        <div class="food-ads-main-item">
                            <img src="assests/images/bun-mam.jpg" height="1253" width="1984"/>
                        </div>
                    </div>
                    <div class="food-ads food-ads-right col-3">
                        <div class="food-ads-sub-item">
                            <img src="assests/images/banh-xeo.jpg" alt="food">
                        </div>
                        <div class="food-ads food-ads-sub-item">
                            <img src="assests/images/banh-xeo.jpg" alt="food">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>